body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  @apply text-5xl font-semibold;
  font-family: 'Alegreya', serif;
}

h2 {
  @apply text-4xl font-semibold;
  font-family: 'Alegreya', serif;
}

h3 {
  @apply text-3xl font-semibold;
  font-family: 'Alegreya', serif;
}

h4 {
  @apply text-2xl font-semibold;
  font-family: 'Alegreya', serif;
}

h5 {
  @apply text-xl font-semibold;
  font-family: 'Alegreya', serif;
}

.content,
#content {
  @apply py-20;
}

.stat-title {
  font-size: 12px;
  margin-bottom: 15px;
}

@media (max-width: 1024px) {
  h4 {
    @apply text-xl font-semibold;
  }

  h5 {
    @apply text-lg font-semibold;
  }
}

@media (max-width: 767px) {

  .stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: unset;
    grid-auto-flow: unset;
  }
}

.form-control input {
  @apply input input-bordered;
  border-color: #e5e7eb;
}

.form-control.sm input {
  @apply input input-bordered input-sm;
  border-color: #e5e7eb;
}

.form-control select {
  @apply select select-bordered;
}

.form-control.sm select {
  @apply select select-bordered select-sm;
}

.form-control input[type='file'] {
  @apply file-input file-input-bordered w-full max-w-xs p-0;
}

/* ============= */

.heading-section>* {
  @apply mb-3;
}

.seperator {
  content: "";
  @apply w-16 h-1 inline-block;
}


.dashboard.menu a.active {
  @apply border-amber-400 border-l-4 !important;
}

.table thead th {
  @apply px-1;
}

.table thead th:first-child,
.table thead th:last-child {
  @apply px-4;
}

.table tbody td {
  @apply p-1;
}

table .toggle:checked {
  @apply bg-yellow-500;
}






/* Loader */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #FBBF24;
  border-color: #FBBF24 transparent #FBBF24 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.dash-loader .lds-dual-ring {
  height: unset;
  width: unset;
}

.dash-loader .lds-dual-ring:after {
  margin: unset;
  width: 24px;
  height: 24px;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.loding {
  @apply h-full flex items-center justify-center p-5 text-primary text-[84px] font-bold;
  font-family: 'Alegreya', serif;
}

.myfont {
  font-family: 'Alegreya', serif;
}

.swiper-pagination {
  position: unset !important;
  margin-top: 20px;
}

.swiper-pagination-bullet-active {
  @apply bg-primary !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  @apply bg-primary text-white text-xl p-2 !important;
}


.swiper-button-next {
  right: -5px !important;
  transform: translateY(-50%);
}

.swiper-button-prev {
  left: -5px !important;
  transform: translateY(-50%);
}

.swiper .swiper-button-next:after,
.swiper .swiper-button-prev:after {
  padding: 0.3rem !important;
  font-size: .7rem !important;
}